<style>
    body {
        background-image: url('../img/learn.jpg')
    }
</style>
<a href="/" class="btn btn-info " style="margin-top:5px;background-color: rgb(1, 101, 140);">Logout</a>
<div class="optionDiv">
    <button class="btn">
        <a href="/teacher/viewall">View All Students</a>
    </button>
    <button class="btn">
        <a href="/teacher/add">Add Student</a>
    </button>
</div>