<style>
  body {
    background-image: url('../img/learn.jpg')
  }
</style>
<a href="/" class="btn btn-info" style="margin-top:5px;background-color: rgb(1, 101, 140);">Back</a>
<h3 class="text">Student Login</h3>
<% if (typeof error !=='undefined' && error) { %>
  <p style="color: red;text-align: center;">
    <%= error %>
  </p>
  <% } %>
    <div class="teachLog">
      <form method="POST" class="teachForm">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Roll no : </label>
          <input type="number" name="roll" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Date of Birth : </label>
          <input type="date" name="dob" class="form-control" id="exampleInputPassword1"
            max="<%= (new Date()).toISOString().split('T')[0] %>" required>
        </div>
        <a><button type="submit" class="btn btn-primary">Submit</button></a>
      </form>
    </div>